
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=EB+Garamond:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
/* 'EB Garamond', serif */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
/* font-family: 'Dancing Script', cursive; */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



#navbr
{
background-color: #ebecf0;
}
#ulli
{
font-family: "Poppins";
font-size: 24px;
margin-left: 400px;
}
.navbar-brand
{
font-size: 30px;
margin-left: 100px;
color: #fff!important;
font-family: "Poppins";
} 



/* navbar simple strt  */
.navbar
{
    height: 75px;
    
}

.navbar-toggler
{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background:white;
}

#ul1 li
{
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    font-size:20px;
}
#ul1 li a:hover
{
    color:#bea163 !important;
}

#navhovr
{
    transition: .3s;
}

#navhovr:hover a
{

    color: #bea163;
}

.w-100
{
    height: 100vh;
}
#rel
{
    height: 10vh;    
    width: 100%;
    
}

#ul1
{
    animation: fadeupanchor 2s;
}


@keyframes fadeupanchor {
    0%{
        opacity: 0;
        transform: translateX(-40px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(40);
    }
    
}


#logo
{
    margin-left: -15px;
}



/* filter button */

#filterbtn
{
    position: relative;
    max-width: 1350px;
    margin: 50px auto;
    width: 100%;
    padding:20px;
    
}
.filter_btn
{
    display: flex;
    align-items: center;
    gap: 10px;
}
button
{
    padding: 10px 20px;
    font-size: 18px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.05);

}

button#active
{
    background-color: #bea163;
}

.filter_cards
{
    padding-left: 100px;
    display: flex;
    gap: 20px;
    flex-wrap:wrap ;
    margin-bottom: 40px;

}

.cards
{
    
    margin-left:25px;
    flex-basis: 300px;
    background-color: #e1dcdc84;
    padding: 3px;
    border-radius: 8px;
}

.cards.hide
{
    display: none;
}

.cards img
{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card_body
{
    padding: 15px 20px 20px;
}

.card_title
{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.card_text
{
    
    font-size: 18px;
    color: #333;
    
}


/* footer */
#x2
{
    height: 400px;
    width: 1571px;
    background: #333;
    border-radius: none;
    
}
#x1
{
    margin-top: 30px !important;
}
#v1
{
    font-size: 2.0rem;
    font-weight: 400;
    margin-left: 30px;
    color: #ffffff;
    font-family: 'Poppins';
}
#v2
{
    color: rgba(216, 205, 205, 0.521);
    margin-top: 10px;
    margin-left: 50px;
    font-size: 19px;
    width: 80%;
     font-family: "Poppins";
}
#v3
{
    margin-top: 33px;
    margin-left:0px ;
    color:rgb(216, 205, 205) ;
    font-size: 28px;
    font-family: 'Poppins';
    position: relative;
}
#v4
{
    margin-top: 40px;
    font-size: 19px;
     font-family: "Poppins";
     margin-left: 0px;
     color:rgb(216, 205, 205,0.616) ;
}
#v5
{
    font-family: "Poppins";
    color:rgba(216, 205, 205, 0.616) ;
    margin-top: 10px;
    font-size: 19px;
    border-bottom: 1px solid rgba(216, 205, 205, 0.616);
}
#v6
{
    margin-left:0px ;
    font-family: "Poppins";
    font-size: 16px;
    margin-top: 10px;
    color:rgba(216, 205, 205, 0.685) ;
    font-weight: bold;
}
#v7
{
    color:rgba(216, 205, 205, 0.685) ;
    font-size: 28px;
    margin-top: 33px !important;
    margin-left:0px ;
    font-family: 'Poppins';
}
#v8
{
    list-style: none;
}
#v8 li a
{
    text-decoration: none;
    color:rgba(216, 205, 205, 0.685) ;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    left: -30px;
    top: 22px;
    font-family: 'Poppins';
} 
#v8 li a:hover
{
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.644);
}
#v9
{
    color:rgb(216, 205, 205) ;
    font-size: 28px;
    margin-top: 33px !important;
    margin-left:0px ;
    font-family: 'Poppins';
}
#v10
{
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    margin-left: 0px;
    width: 80%;
    border-bottom: 1px solid #ccc;
    align-items: center;
    padding-bottom: 15px;
}
#v11
{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: #ccc;
}
#v12
{
    font-size: 21px;
    margin-right: 10px;
    color: #ccc;  
    background-color: transparent;
}
#v13
{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 21px;
    color: #ccc;
    margin-left: -60px !important;
}
#v14 i
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #333;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition: all .40s;
}
#v14 i:hover
{
    transform: scale(1.1);
}
#v14
{
    margin-top: 50px;
}
#underline
{
    width: 60%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
top: 5px;
left: 0px;
}
#underr
{
width: 15px;
height: 5px;
background: #ccc;
border-radius: 3px;
position: absolute;
top: 5;
left: 10px;
animation: moving 4s linear infinite;
}
@keyframes moving
{
    0%
    {
        left: -20px;
    }
    100%
    {
        left: 100%;
    }
}
@media only screen and (max-width: 768px) {
    #x2
    {
        height: 1200px;
        background-color: #333;
    }
    #v3
    {
        font-size: 21px;
        margin-left: 50px;
    }
    #v4
    {
        font-size: 18px;
        margin-left: 50px;
    }
    #v5
    {
        font-size: 18px;
        margin-left: 50px;
        width: 80%;
    }
    #v6
    {
        font-size: 18px;
        margin-left: 50px;
    }
    #v7
    {
        font-size: 21px;
        margin-left: 50px;
    }
    #v8
    {
        margin-left: 50px;
        font-size: 21px;
    }
    #v9
    {
        margin-left: 50px;
        font-size: 21px;
    }
    #v10
    {
        font-size: 18px;
        margin-left: 50px;
        width: 70%;
    }
    #v14
    {
        margin-left: 50px;
        font-size: 19px;
    }
}
/* footer end */




